
<div class="header d-flex justify-content-between align-items-center">
  <div class="title">
    <h1><%= @restaurant.name %></h1>
  </div>
  <div>
    <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: "btn btn-secondary" %>
  </div>
</div>
  <div class="details">
    <h3><%= @restaurant.category.to_s.capitalize! %></h3>
    <address>Address: <%= @restaurant.address %></address>
    <p>Phone: <%= @restaurant.phone_number %></p>
    <br>
    <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= review.rating %> - <%= review.content %>
          <%= link_to "Delete", review_path(review), class: "btn btn-sm btn-outline-danger ms-2",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
          </li>
        <% end %>
    </ul>
    <br>
    <p><strong>Add a review</strong></p>
    <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, :collection => (1..5) %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
    <%#= link_to "Add a review",  new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>
</div>
